tr:nth-child(even) {
  background: #fff;
}

tr:nth-child(odd) {
  background: #fafafa;
}

td {
  padding: 1rem;
  text-align: center;
}

th {
  background: #fff;
  padding: 1rem 0rem;
  text-align: center;
}

tr > td:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

tr > td:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

tr > td:nth-last-child(2) {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

tr > td:nth-last-child(1) {
  background: white;
}
.custom_table {
  width: 100%;
}
.table_overflow {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .table_overflow {
    width: 100%;
    overflow-x: auto;
  }
}
