.custom_input {
  background-color: #e6f5fe;
  border-radius: 16px;
  border: 1px solid #e9e9e9;
}
.select {
  padding-right: 2rem;

  line-height: 1;

  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right #ddd;
  -webkit-appearance: none;

  background-position: right 15px center;

  background-color: #e6f5fe;
  border-radius: 16px;
  border: 1px solid #e9e9e9;
}
