.all_member {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.6px;
  color: #2b2b2b;
}
tr {
  cursor: pointer;
}
tr:nth-child(even) {
  background: #fff;
}

tr:nth-child(odd) {
  background: #fafafa;
}

td {
  padding: 1rem;
  /* text-align: center; */
}

th {
  background: #fff;
  padding: 1rem;
  /* text-align: center; */
}

tr > td:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

tr > td:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

tr > td:nth-last-child(2) {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

tr > td:nth-last-child(1) {
  background: white;
}
.custom_table {
  width: 100%;
}

.high {
  color: rgba(235, 87, 87, 1);
}
.normal {
  color: rgba(39, 174, 96, 1);
}
.low {
  color: rgba(250, 199, 1, 1);
}
.table_overflow {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .table_overflow {
    width: 100%;
    overflow-x: auto;
  }
}
